.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes flip {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flip1 {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

.animeFlip1 {
  transform: translateX(-200px);
  animation: flip 1.5s linear 1;
  animation-fill-mode: forwards;
}

.animeFlip2 {
  transform: translateX(200px);
  animation: flip1 1.5s linear 1;
  animation-fill-mode: forwards;
}

.guideLayer {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.guideClose {
  opacity: 0;
}

.guideIn {
  opacity: 1;
}

.guideBlur {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
